/*
 * STYLES ADDED BY RESIDENTE DE TI DAVID OSORIO
 * ENERO - JUNIO 2019
 */

body, html {
  height: 90%;
}

.bg {
  /* The image used */
  background-image: url("../images/bg.jpg");
  /* Full height */
  height: 100%;
  /* Scale the image nicely (without center it) */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #282828;
}

.app-img {
  float: left;
  margin-bottom: 0;
}

.app-title {
  color: white;
  font-size: 50px;
  font-weight: 500;
  margin-top: 2.25rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

.vl {
  border-left: 6px solid #ffc107;
  border-radius: 10px;
  height: 50px;
  margin: 1.5rem 1.5rem 0 1.5rem;
}

.chosen-drop > .chosen-search {
  display: none;
}

button:focus {
  outline: 0;
}

.directory-searcher > form button {
  background-color: #d90429;
  cursor: pointer;
}

.directory-searcher > form button:hover {
  background: #8d99ae;
}

#my-nav {
  text-align: right;
}

.my-la-22 {
  font-size: 22px;
}

.my-la-icon {
  font-weight: bold !important;
}

.my-dt-thead {
  background-color: aliceblue;
  /* color: darkmagenta; */
  color: #d90429;;
}

.my-dt-show {
  text-align: left;
}

.my-dt-info {
  color: #212529;
  font-weight: 500;
}

.my-dt-row {
  background: #929395;
}

#myDataTable_length > label {
  padding-top: 0.5rem !important;
  color: #fff;
  font-weight: 500;
}

#myDataTable_filter input {
  font-size: 1rem;
  border-radius: 0.25rem;
  color: #8d99ae;
}

#myDataTable_paginate {
  padding-top: 0.21rem;
}

#myDataTable_info {
  color: #fff;
}

#myDataTable tbody {
  color: whitesmoke;
}

#myDataTable tbody tr:hover {
  background-color: rgba(141, 153, 174, .6);
}